

body{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: white;
}

footer {
  height: 100px;;
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: 2.5rem;
}

strong{
  color : black;
}

/* Navbar--> */

#nav {
  padding: 25px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: black;
  width: 50px;
  margin: 20px 20px;
  border-radius: 23px;
}
.icon-img {
  position: relative;
  top:30px;
  width: 25px;
  height: 25px;
  margin: 25px 25px;
}

.icon-img.set {
  margin-top: 150px;
  position: relative;
  top:0px;
}

.site-logo{
  width:50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 20px;
}

.icon-img:hover{
  transform: scale(1.5);
  transition-duration:.5s;
}

/* Welcome Message --> */
.hello-msg{
  width: 57%;
  position: absolute;
  left: 130px;
  top: 80px;
  background: #F5F5F5;
  border-radius: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin: 10px;
  float: left;
}
.welcome-div{
  width: 70%;
  float: left;
}

.profile-button{
  position: relative;
  bottom: -5px;
  text-decoration: none;
  background-color: black;
  color: white;
  padding : 10px;
  border-radius: 10px;
}
.profile-button:hover{
  background-color:grey;
  color: white;
  transition-duration:.5s;
  transform: scale(1.5);
}

.hello-pic{
  width: 30%;
  float: right;
}

.material-pic{
  position: relative;
  top: 30px;
  float: left;
  width: 90%;
}


/* Searchbar--> */
.searchbar{
  background: #F5F5F5;
  position: absolute;
  top : 20px;
  left: 140px;
  width: 30%;
  height: 50px;
  border-radius: 15px;
}
.searchbar:hover{
  transform: scale(1.05);
  transition-duration:1s;
}

.searchicon{
  float: left;
  height: 90%;
  width: 90%;;
}

.search-icon-div{
  width: 30px;
  float: left;
  position: relative;
  top: 13px;
  left: 13px;
}

.search-query-div{
  float: left;
}

.search-input{
  width:auto;
  height:30px;
  position: relative;
  left: 25px;
  top: 8px;
  background-color: #F5F5F5;
  border: 0px;
}

/* Blogs --> */

.blog-container{
  background: #F5F5F5;
  width: 60%;
  position: relative;
  left: 155px;
  top:320px;
}

.blog {
  background: #F5F5F5;
  border-radius: 20px;
  padding: 20px;
  width: 230px;
  margin: 10px;
  float: left;
}
.blog:hover{
  transform: scale(1.05);
  transition-duration:1s;
}


.blog h1 {
  color: grey;
  font-size: 1.0em;
  margin-bottom: 6px;
}

.blog p {
  color: grey;
  font-size: 1.0em;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.blog-claps{
  float: left;
  width: 65%;
  height: 50%;
}

.clap-number{
  float: right;
  width: 35%;
  height: 50%;
}

.clapper-img{
  border-radius: 50%;
  border: 3px solid #fff;
  width:  30px;
  height: 30px;
}

.clapper-claps{
  float: left;
  color: grey;
  font-size: 1.0em;
}


.p2{
  position: relative;
  right: 12px;
}

.p3{
  position: relative;
  right: 25px;
}
.p4{
  display: inline;
  position: relative;
  right: 35px;
}

.clap-icon{
  position: relative;
  top: 15px;
  float: left;
  width:  20px;
  height: 20px;
}

.clapper-number{
  position: relative;
  left: 10px;
}



/* Right Section --*/

.right-section-container{
  float: right;
  position: absolute;
  right:20px;
  top: 60px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 600px;
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 25px;
}

.right-section-card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 1px 1.5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 1px 1.5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1px 1.5px rgba(0, 0, 0, 0.12);
}
.right-section-card:hover{
  transform: scale(1.05);
  transition-duration:1s;
}

.right-section-card > .cards-left {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}

.right-section-card  .cards-left  .wrap-icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section-card  .cards-left  .wrap-items {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 14px;
}

.section-info {
  font-size: 20px;
  font-weight: 700;
}

.card .card-right {
  background-color: #efefef;
  align-self: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.section-banner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 30px;
  border-radius: 20px;
  position: relative;
  bottom:30px;
}

.section-banner .description {
  color: grey;
  margin: 0px 20% 0px;
  text-align: center;
  overflow: hidden;
}

.purchase-button {
    position: relative;
    bottom: -15px;
    text-decoration: none;
    background-color: black;
    color: white;
    padding : 10px;
    border-radius: 8px;
}
.purchase-button:hover{
  background-color:grey;
  color: white;
  transition-duration:.5s;
  transform: scale(1.05);
}

.right-section-card .clap-icon{
  position: relative;
  top : 0px;
  left:2px;
}



.articles-posted{
  background-color: #fbefcc
}

.claps-this-week{
  background-color:#ccccff
}

.followers-this-week{
  background-color: #e0e2e4
}


/* Top Section */


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 217x;
  border: none;
  outline: none;
  color: grey;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

a:hover .dropdown:hover .dropbtn {
  background-color: grey;
  border-radius: 50%;
  color:white;
  transform: scale(1.05);
  transition-duration:1s;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  transform: scale(1.05);
  transition-duration:1s;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.user-name-container{
  height: inherit;
  width: 90%;
}
.main-user-name{
  position: relative;
  top:-5px;
  color: grey;
}

.main-profile-pic{
  right: 20px;
  top:10px;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.profile-pic-container{
  height: inherit;
  float: right;
}

.user-handle{
  position: absolute;
  right: 80px;
  top: 25px;
  font-size: 13px;
  font-weight: lighter;
}

.top-section-container{
  height: 80px;
  width: 320px;;
  position: absolute;
  top: 10px;
  right: 5px;
}

.notify-container{
  width: 20%;
  float: left;
  height: inherit;
}

.notify{
  float: left;
  width:  30px;
  height:inherit;
  position: relative;
  top:20px;
}
.notify:hover{
  background-color:#e0e2e4;
  transform: scale(1.2);
  transition-duration:1s;
  border-radius: 50%;
}

.language-sel-container{
  position: relative;
  top:11px;
}





.followers-wrapper{
  position: relative;
  bottom:25px;
}

.follower-img{
  box-shadow: 5px;
  width:80px;
  height: 80px;
  border-radius: 20%;
  box-shadow: rgba(0, 0, 0, 0.12);
  padding: 5px;
}
.follower-img:hover{
  transform: scale(1.1);
  transition-duration:1s;
}

.follow-heading{
  height: 50px;
  width: 50%;
  float: left;
}

.follow-head{
  float: left;
  position: relative;
  left: 8px;
}

.view-all-div{
  height: 50px;
  width: 50%;
  float: right;
}

.view-all{
  float: right;
  position: relative;
  top:7px;
  right: 20px;
}

.lob-container{
  position: absolute;
  left: 700px;
  width : 40%;
  padding: 25px;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: grey;
  margin: 20px 20px;
  border-radius: 23px;
}

.lob-date-col{
  width:20%;
  float: left;
}

.lob-post-col{
  width:60%;
  float: left;
}

.lob-status-col{
  width:20%;
  float: right;
}

table {
  background: #f5f5f5;
  font-size: 12px;
  line-height: 24px;
  margin: 0px auto;
  text-align: left;
  width: 58%;
  position: relative;
  right:160px;
  top:500px;
  border-radius: 7px;

}


th {
  text-align: left;
  background: rgb(219, 219, 219);
  border: none;
  border-radius: 2px;
  color: #000;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
}
th:after {
  content: "";
  display: block;
  height: 25%;
  left: 0;
  margin: 1px 0 0 0;
}
td {
  width: 70px;
  text-align: left;
  padding: 10px 15px;
  text-align: left;
}

select {
  padding: 10px 30px;
  margin: 0 5px;
  border: none;
  border-radius: 6px;
  background: rgb(230, 229, 229);
  color: black;
  position: relative;
}

.table-options{
  width: 58%;
  position: relative;
  left:650px;
  top:400px;
  border-radius: 7px;
}

.list-of-blogs{
  height:50px;
  width: 200px;
  position: relative;
  right: 450px;
  top:50px;
}

